<div class="spacer_30"></div>
<div class="container">
	<div class="row headings">
		<div class="col">
			<h2>
				Change Password
			</h2>
		</div>
	</div>
</div>
<div class="spacer_30"></div>
<div class="container">
    <div class="row">
        <div class="col">
                <div class="m-portlet m-portlet--tab bg-white" *ngIf="addProfile">
                        <form class="m-form m-form--fit m-form--group-seperator-dashed" [formGroup]="addProfile" novalidate
                            enctype="multipart/form-data">
                            <div class="m-portlet__body">
                                    
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">Enter Current Password</label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control m-input" placeholder="" formControlName="currentPassword" required>
                                        <div *ngIf="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)" class="m-alert m-alert--outline alert alert-danger alert-dismissible"
                                            role="alert">
                                            <span class="m-form__help" *ngIf="currentPassword.errors.required">Current Password is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">Enter New Password</label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control m-input" placeholder="" formControlName="password" required>
                                        <div *ngIf="password.errors && (password.dirty || password.touched)" class="m-alert m-alert--outline alert alert-danger alert-dismissible"
                                            role="alert">
                                            <span class="m-form__help" *ngIf="password.errors.required">Password is required.</span>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">Re-Enter New Password</label>
                                        <div class="col-lg-6">
                                            <input type="password" class="form-control m-input" placeholder="" formControlName="rePassword" required>
                                            <div *ngIf="rePassword.errors && (rePassword.dirty || rePassword.touched)" class="m-alert m-alert--outline alert alert-danger alert-dismissible"
                                                role="alert">
                                                <span class="m-form__help" *ngIf="rePassword.errors.required">Password is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                
                             </div>
                            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                                <div class="m-form__actions m-form__actions--solid">
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-6">
                                            <button type="submit" [disabled]="addProfile.invalid || loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" (click)="editProfile()" class="btn btn-success">Submit</button>
                                            <button type="submit" (click)="addProfile.reset()" class="btn btn-danger">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
        </div>
    </div>
</div>
    