<div class="spacer_30"></div>
<div class="container">
	<div class="row headings">
		<div class="col">
			<h2>
				My Profile
			</h2>
		</div>
	</div>
</div>
<div class="spacer_30"></div>
<div class="container" *ngIf="formReady">
	<div class="row">
		<div class="col">
				<form class="m-form m-form--fit m-form--group-seperator-dashed bg-white" [formGroup]="addProfile" novalidate
				enctype="multipart/form-data">
				<div class="m-portlet__body">

<ng-container *ngIf="isAdmin">
					<div class="form-group m-form__group row">
						<label class="col-lg-4 col-form-label" for="userEmail">User Email:</label>
						<div class="col-lg-6">
							<input type="text" class="form-control m-input" placeholder="" id="userEmail" formControlName="UserEmail" required>
							<div *ngIf="UserEmail.errors && (UserEmail.dirty || UserEmail.touched)" class="m-alert m-alert--outline alert alert-danger alert-dismissible"
								role="alert">
								<span class="m-form__help" *ngIf="UserEmail.errors.required">User Email is required.</span>
							</div>
						</div>
					</div>

					<div class="form-group m-form__group row">
						<label class="col-lg-4 col-form-label" for="fullName">Full Name:</label>
						<div class="col-lg-6">
							<input type="text" class="form-control m-input" placeholder="" id="fullName" formControlName="fullName" required>
							<div *ngIf="fullName.errors && (fullName.dirty || fullName.touched)" class="m-alert m-alert--outline alert alert-danger alert-dismissible"
								role="alert">
								<span class="m-form__help" *ngIf="fullName.errors.required">Name is required.</span>
							</div>
						</div>
					</div>
					<div class="form-group m-form__group row">
						<div class="col-lg-4"></div>
						<div class="col-lg-6">
							<div class="m-input-icon m-input-icon--right">
								<input type="file" class="custom-file-input form-control m-input" id="customFile" placeholder="Enter Profile Image here" name="customFile" (change)="fileCheck($event)" >
								<label class="custom-file-label" for="customFile" #profilePicLabel>Enter Profile Image:</label>
							</div>
						</div>
					</div>
					<!-- <div class="form-group m-form__group row">
						<label class="col-lg-2 col-form-label">Company:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control m-input" placeholder="" formControlName="Company" required>
							<div *ngIf="Company.errors && (Company.dirty || Company.touched)" class="m-alert m-alert--outline alert alert-danger alert-dismissible"
								role="alert">
								<span class="m-form__help" *ngIf="Company.errors.required">Company is required.</span>
							</div>
						</div>
					</div> -->
				</ng-container>
				</div>
				<ng-container *ngIf="isAdmin">
				<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
					<div class="m-form__actions m-form__actions--solid">
						<div class="row">
							<div class="col-lg-4"></div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col">
										<button type="submit" [disabled]="addProfile.invalid || loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" (click)="editProfile()" class="btn btn-lg btn-block btn-success">Submit</button>
									</div>
									<div class="col">
										<button type="submit" (click)="addProfile.reset()" class="btn btn-lg btn-block btn-danger">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
			</form>
		</div>
	</div>
</div>
